# --- API Server Config ---
HOST=0.0.0.0
PORT=8000
RELOAD=True

# --- MLOps & Model Tracking ---
MLFLOW_SERVER_URI="http://98.89.40.25:8050"
MLFLOW_EXPERIMENT_NAME=


# --- External Services ---
KAGGLE_API_TOKEN=
