# --- API Server Config ---
HOST=0.0.0.0
PORT=8000
RELOAD=True

# --- CORS Config ---
ALLOWED_ORIGINS=[]

# --- MLOps & Model Tracking ---
MLFLOW_SERVER_URI=
MLFLOW_MODEL_URI=

# --- External Services ---
KAGGLE_API_TOKEN=
